body {
    margin: 0;
}
.external {
    background-color: gray;
    width: 10%;
    height: 100%;
    margin: 0;
    position: fixed;
    overflow: auto;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
}