.navpfp {
    width: 2.5rem;
}
h1 {
    color: rgb(34, 216, 207);
}
.backpic {
    max-width: 30rem;
    margin-bottom: 1rem;
}
@media (max-width: 500px) {
    .backpic {
        max-width: 20rem;
    }
}
@media (max-width: 362px) {
    .backpic {
        max-width: 14rem;
    }
}
li {
    list-style-position: inside;
}
.listlink {
    margin-top: 1rem;
    list-style-type: none;
}
.past {
    margin-bottom: 2rem;
}
.sly23 {
    max-width: 24rem;
}
.rac3 {
    max-width: 12.55rem;
}
.wowpic {
    max-width: 14rem;
}
.cs2pic {
    max-width: 14.8rem;
}
figcaption {
    opacity: 0%;
    transition: 0.5s ease;
}
img {
    transition: 0.5s ease;
}
@media (min-width: 768px) {
    figure:hover figcaption{
        transition: 0.2s ease;
        opacity: 100%;
    }
}
@media (min-width: 768px) {
    figure:hover img{
        transition: 0.2s ease;
        box-shadow: 0.3rem 0.3rem rgb(36, 0, 0);
    }
}
@media (max-width: 768px) {
    figcaption{
        opacity: 100%;
    }
}
@media (max-width: 404px) {
    .sly23 {
        max-width: 14rem;
    }
}
.achi {
    margin-bottom: 1rem;
}
td{
    border-right: 2px solid rgb(85, 85, 85);
    padding: 2px;
}
.trpos {
    border-top: 2px solid rgb(85, 85, 85);
    border-bottom: 2px solid rgb(85, 85, 85);
}
table {
    margin-bottom: 2rem;
}