a {
    text-decoration: none;
}
.nav {
    list-style-type: none;
    font-weight: bold;
}
.navigation-fluid {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.726), transparent);
    margin-top: 20px;
}
li {
    padding:0%;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    text-align: center;
}

.container-fluid {
    background-image: url(talvikuva-jpg.jpg);
    background-position-y: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
